<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= stylePath %>" ></link>
  </head>
  <body>
    <h1 class="title"><%= xml_html_content[:componentName] %></h1>
    <% if xml_html_content[:componentExtendedClass] %>
      <h2 class="title">Extends: <%= xml_html_content[:componentExtendedClass] %></h2>
    <% end %>

    <% if xml_html_content[:brsfiles].length > 0 %>
      <div class="section-container">
        <h2 class="section-title">Associated Brightscript</h2>
        <div class="function-section">
          <% xml_html_content[:brsfiles].each do |brsfile| %>
            <h3><a href="<%= brsfile[:path] %>.html"><%= brsfile[:name] %></a></h3>
          <%end %>
        </div>
      </div>
    <% end %>

    <% if xml_html_content[:fields].length > 0 %>
      <div class="section-container">
        <h2 class="section-title">Interface Fields</h2>
        <div class="function-section">
          <% xml_html_content[:fields].each do |field| %>
            <h3><%= field[:id] %> : <%= field[:type] %></h3>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if xml_html_content[:functionalfields].length > 0 %>
      <div class="section-container">
      <h2 class="section-title">Functional Fields</h2>
        <div class="function-section">
          <% xml_html_content[:functionalfields].each do |functionalfield| %>
            <h3><a href="<%= functionalfield[:file]%>#<%=functionalfield[:name]%>"><%= functionalfield[:name] %></a></h3>
          <% end %>
        </div>
      </div>
    <% end %>
  </body>
</html>